<%- include('partials/head.ejs', { otsikko: 'Yhteystiedot'}) %>

<%- include('partials/header.ejs') %>

<section class="hero is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-7">
                    <form action="" class="box" method="post">
                        <div class="field has-text-centered">
                            <img src="/kuvat/DjangoKauppa_Logo_400.png" width="167">
                        </div>
                        <div class="field">
                            <label class="label">Käyttäjätunnus</label>
                            <div class="control has-icons-left">
                                <input class="input" id="id_username" name="käyttäjätunnus" autofocus="" autocapitalize="none" autocomplete="username" type="text" placeholder="Käyttäjätunnus" maxlength="30" required>
                                <span class="icon is-small is-left">
                                    <i class="fa fa-user"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Salasana</label>
                            <div class="control has-icons-left">
                                <input id="id_password" class="input" name="salasana" type="password" placeholder="Salasana" required>
                                <span class="icon is-small is-left">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <button class="button is-success">
                            Kirjaudu sisään
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('partials/footer.ejs') %>