<%- include('partials/head.ejs', { otsikko: 'Uuden tuotteen lisääminen'}) %>

<%- include('partials/header.ejs') %>

<% if (valmis) { %>
    <p>Tuote on lisätty onnistuneesti.</p>
<% } %>

<% if (virhe) { %>
    <p>Virhe</p>
<% } %>

<form action="" method="post" enctype="multipart/form-data">

    <div class="field">
      <label class="label">Tuotten nimi</label>
      <div class="control">
        <input class="input" name="nimi" type="text" placeholder="Tuotteen nimi" required>
      </div>
    </div>
  
     <div class="field">
      <label class="label">Lisätiedot tuotteesta</label>
      <div class="control">
        <textarea name="kuvaus" class="textarea" placeholder="Lisätiedot" required></textarea>
      </div>
    </div>
    
    <div class="field">
      <label class="label">Hinta</label>
      <div class="control">
        <input class="input" name="hinta" type="number" placeholder="Hinta" step="0.01" required>
      </div>
    </div>
  
    <div class="field">
      <label class="label">Kuva</label>
      <div class="control">
        <input class="input" name="kuva" type="file" accept="image/*" placeholder="Tuotteen kuvan" required>
      </div>
    </div>
  
    <div class="field">
      <label class="label">Määrä</label>
      <div class="control">
        <input class="input" name="määrä" type="number" placeholder="Määrä" onkeydown="if(',.'.includes(event.key)){event.preventDefault();}" required>
      </div>
    </div>
  
    <div class="field is-grouped">
      <div class="control">
        <button class="button is-primary" type="submit">Lähetä</button>
      </div>
      <div class="control">
        <button class="button is-primary is-light" type="reset">Nollata</button>
      </div>
    </div>
  </form>

<%- include('partials/footer.ejs') %>